{% extends 'base.html' %}

{% block page_content %}



    <div class="select2-container d-flex justify-content-center">

    <div class="card mb-8 p-4" >
        <h6 class="text-center">Details for <b>{{ book.title }}</b></h6>
        <div class="row g-4">
            <div class="col-md-4"  >
                {% if book.image %}
                    <img src="{{ book.image.url}}"  class="img-fluid rounded-start"  alt="{{book.image}}">
                {% else %}
                    <img src="/static/images/book.png"  class="img-fluid rounded-start"  alt="...">
                {% endif %}
                <br>

                <div class="d-flex justify-content-center"><i>Book ID: <b>{{ book.id }}</b></i></div>

            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p5 class="card-title">Name </p5><b>{{ book.title }}</b></li>
                        <li class="list-group-item">Category: {{ book.category }}</li>
                        <li class="list-group-item">Author: {{ book.author }}</li>
                        <li class="list-group-item">Pages: {{ book.pages }}</li>
                        <li class="list-group-item">Price:  {{ book.price|floatformat:2 }} € </li>

                        {% if book.description %}
                            <li class="list-group-item"> <small class="text-muted"> Summary: {{ book.description|truncatechars:80}}</small></li>
                        {% endif %}
                        <li class= "list-group-item"><small class="text-muted">Last updated 3 mins ago</small></li>
                    </ul>
                <div class="container">
                    <div class="card-body">

                        <div class="btn-group d-flex justify-content-center" role="group" aria-label="Third group">
                            <div class="btn-group d-flex justify-content-center" role="group" aria-label="Third group">
                                {% if user.is_authenticated and book.seller == current_user %}

                                    <a href="{% url 'update book' book.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 90px">Edit</a>
                                    <a href="{% url 'delete book' book.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 90px">Delete</a>
                                    {% elif user.is_authenticated and not book.seller == current_user %}
                                    <a href="{% url 'book details' book.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 90px">Details</a>
                                    <a href="{% url 'buy' book.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 90px">Buy Book</a>
                                    {% elif not user.is_authenticated  %}
                                    <a href="{% url 'book details' book.pk %}" class="btn btn-outline-secondary btn-sm" style="width: 90px">Details</a>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
<!------------------------------------------------------!!>
<div class="container">

{#    <h4 class="text-center">Details for <b>{{ book.title }}</b></h4>#}
{#    <form method="get" enctype="multipart/form-data" style='border-top: 1px solid grey; border-bottom: 1px solid grey; margin: 1% 2%; padding: 2% 2% '>#}
{##}
{#        <div class='row' style= 'padding-top: 1%'>#}
{#            <div class="col-lg-1"></div>#}
{#            <div class="col-lg-2">#}
{#                <div class="d-inline p-2 w-40">#}
{#                    <div class="d-flex p-2 flex-column">#}
{##}
{#                        <p5>Title:{{ book.title}} </p5>#}
{#                        <p5>Author:{{ book.author}}</p5>#}
{#                        <p5>Category: {{ book.category }}</p5>#}
{#                        <p5>Pages: {{ book.pages }}</p5>#}
{#                        {% if book.title %}#}
{#                            <p5>Phone: <b>{{ book.title }}</b></p5>#}
{#                        {% endif %}#}
{##}
{#                        {% if book.title %}#}
{#                            <p5>Description: <b>{{ book.title}}</b></p5>#}
{#                        {% endif %}#}
{#                    </div>#}
{##}
{#                    <a href="{% url 'update profile' %}" class="btn btn-secondary btn-sm">Change</a>#}
{#                    <a href="{% url 'delete profile' %}" class="btn btn-secondary btn-sm">Delete</a>#}
{##}
{#                </div>#}
{#                <button class="btn btn-secondary btn-sm" type="submit">Add</button>#}
{##}
{#                <div class="col-lg-1"></div>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{##}
{##}
{#    <div class="container">#}
{##}
{#        <div class = 'form-control'>#}
{##}
{#            <div class="d-flex justify-content-center" style=' margin: 1% 2%; padding: 2% 2% '>#}
{#                <div class="d-inline p-2 w-40">#}
{#                    <div class="d-flex p-2 flex-column">#}
{#                        <p5>Username: <b>{{ user.username}}</b></p5>#}
{#                        <p5>Name: <b>{{ profile.first_name}} {{ profile.last_name }}</b></p5>#}
{#                        <p5>Email:<b>{{ profile.email}}</b></p5>#}
{#                        <p5>City: <b>{{ profile.city }}</b></p5>#}
{#                        <p5>Address: <b>{{ profile.address }}</b></p5>#}
{#                        {% if profile.phone %}#}
{#                            <p5>Phone: <b>{{ profile.phone }}</b></p5>#}
{#                        {% endif %}#}
{##}
{#                        {% if profile.description %}#}
{#                            <p5>Description: <b>{{ profile.description}}</b></p5>#}
{#                        {% endif %}#}
{#                    </div>#}
{##}
{#                    <a href="{% url 'update profile' %}" class="btn btn-secondary btn-sm">Change</a>#}
{#                    <a href="{% url 'delete profile' %}" class="btn btn-secondary btn-sm">Delete</a>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}


