{% extends 'base.html' %}

{% block page_content %}

 <div class="row justify-content-center">
        {% if books %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Book ID</th>

                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for book in books %}
                        <th scope="row">{{book.pk}}</th>
                        <td><a href="{% url 'book details' book.pk %}">{{ book.title }}</a></td>
                        <td>{{ book.category }}</td>
                        <td>{{ book.price|floatformat:2 }} € </td>
                        <td><a href="{% url 'remove' book.pk %}">Remove</a></td>
                        </tr>
                    {% endfor %}
</tbody>
                <tr>
                        <th scope="row"></th>
                    <td ><b><i>Total amount:</i></b></td>
                        <td></td>
                        <td>
                            <b>{{ cart_total|floatformat:2 }} € </b>
                        </td>

                </tr>

            </table>

        {% else %}

    <h3 class="row justify-content-center">There aren't any books in your cart.</h3>

            <img src="/static/images/no_books_in_cart.jpg"  class="my-6 max-width: 40%; and height: auto; img-thumbnail rounded-start"  alt="...">
        {% endif %}
    </div>
{% endblock %}