{%  extends 'base.html' %}
{% block page_content %}

<div class="container mt-3">
  <h2>Change password</h2>

<div class="row" style= 'padding-top: 1%'>
<div class="col-lg-2"></div>
  <form method="POST" action="{% url 'update password' %}" style='border-top: 3px solid grey; margin: 5% 2%; padding: 5% 5% '>
    <div class="mb-3 mt-3">
        {% csrf_token %}
        {{ form.as_p }}

    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>


{% endblock %}