{%  extends 'base.html' %}
{% block page_content %}
{#    {% if user.isauthenticated %}#}
        <div class="container justify-content-center" >
            <fieldset>
                <div class = 'form-control d-flex justify-content-center'>
                    <div class="container justify-content-center" >
                        <div class=" d-flex justify-content-center" >
                            <h5>Change <b>password</b> for {{ user.username }}</h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                {#                            <div class = 'form-control justify-content-center'>#}
                                <form method="POST"  action="{% url 'update password' %}"  style='border-top: 3px solid grey; margin: 5% 2%; padding: 5% 5% '>
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <div class="mb-4 mt-9">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                            </div>
                                            <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                                            <div class="col-lg-3" ></div>
                                        </div>
                                    </div>
                                </form>
                            </div >
                        </div >
                    </div>
                </div>


            </fieldset>
        </div>

{#    {% else %}#}
{#        {% include '401.html' %}#}
{#    {% endif %}#}



{% endblock %}