{%  extends 'base.html' %}
{% block page_content %}

    <div class="container">

<div class = "form-control">
        <div class="d-flex justify-content-center" style=' margin: 1% 2%; padding: 2% 2% '>
            <div class="d-inline p-2 w-40">
                <div class="d-flex p-2 flex-column">
                    <p5>Username: <b>{{ user.username}}</b></p5>
                    <p5>Name: <b>{{ profile.first_name}} {{ profile.last_name }}</b></p5>
                    <p5>Email:<b>{{ profile.email}}</b></p5>
                    <p5>City: <b>{{ profile.city }}</b></p5>
                    <p5>Address: <b>{{ profile.address }}</b></p5>
                    {% if profile.phone %}
                        <p5>Phone: <b>{{ profile.phone }}</b></p5>
                    {% endif %}

                    {% if profile.description %}
                        <p5>Description: <b>{{ profile.description}}</b></p5>
                    {% endif %}
                </div>

                <a href="{% url 'update profile' %}" class="btn btn-secondary btn-sm">Change</a>
                <a href="{% url 'delete profile' %}" class="btn btn-secondary btn-sm">Delete</a>

            </div>
        </div>
</div>
        <div class="d-flex justify-content-center" style='border-top: 1px solid grey; border-bottom: 1px solid grey; margin: 1% 2%; padding: 2% 2% '>
            <h5>Do you want to <a href="{% url 'delete profile' %}"> delete your profile</a>?</h5>
        </div>
    </div>

{% endblock %}