{%  extends 'base.html' %}
{% block page_content %}
{% load crispy_forms_tags %}

<div class="container">
<h3 class="text-center">Update Your Profile</h3>

<div class="container-md d-flex aligns-items-center justify-content-center">

    <form method="POST"  style='border-top: 1px solid grey; border-bottom: 1px solid grey; margin: 1% 2%; padding: 2% 2% '>
        <div class='row' style= 'padding-top: 1%'>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">

                {% csrf_token %}
                {{ form }}

                <button class="btn btn-secondary btn-lg" type="submit">Update Profile</button>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </form>
    </div>
</div>

    <div class="container" style=' border-bottom: 1px solid grey; margin: 1% 2%; padding: 2% 2% '>
        <h5>You want to change your password? Please click <a href="{% url 'update password' %}"><strong>here</strong></a>.</h5>
    </div>


</div>
{% endblock %}