{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >BuyabookApp</title>

    <link rel="stylesheet" href="/static/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/images/book.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body class = "m-5 justify-content-center margin-top:8" >
<!-- style=" background-image: url('https://images.unsplash.com/photo-1576872381149-7847515ce5d8')"-->
{#<body  style="background-image: url('{% static "/image/containers.jpg" %}')">#}
<div class="sticky-sm-top">

    <!-- 1st Nav Bar starts here -->
    <nav class='mx-5 mt-2 navbar navbar-expand-lg navbar-light bg-light rounded-8 sticky-sm-top margin-top:1' style='border: 1px solid lightgrey;  margin: 1% 1%; '>
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" style=" color: dimgray " href="{% url 'catalogue' %}"><b><i>Buyabook </i></b></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav ms-auto ">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <div class="nav-link" >Hello {{ user.username }}</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile details' %}">Profile Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'update profile' %}">Update Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><b>Logout</b></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login    </a>
                        </li>
                        <li><a class="nav-link" href="#">   </a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- 1st Nav Bar ends here -->

    <!-- 2nd Nav Bar starts here -->
    {% if user.is_authenticated %}
        <nav class=" mx-5 navbar navbar-expand-lg navbar-light bg-light rounded-6 sticky-sm-top" style='border: 1px solid lightgrey;  margin: 1% 1%; '>
            <div class="container-fluid sticky-sm-top">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" style= " color: dimgray " href="{% url 'index' %}"><b><i>My Dashboard </i></b></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                    <ul class="navbar-nav ms-auto ">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add book' %}">Sell a book</a>

                        </li>

                                                <li class="nav-item">
                            <a class="nav-link" href="{% url 'catalogue' %}">Buy a book</a>

                        </li>
                                                <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart' %}">My Cart</a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
    <!-- 2nd Nav Bar ends here -->

{#    <!-- 3rd Nav Bar starts here -->#}
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-3 " style='border: 1px solid lightgrey;   margin: 1% 2%; padding: 0.5% 1% '>#}
{#        <div class="container ">#}
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse " id="navbarTogglerDemo01">#}
{#                <ul class="nav nav-tabs mx-auto">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="{% url 'catalogue' %}">Catalogue</a>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                            <li><hr class="dropdown-divider"></li>#}
{#                            <li><a class="dropdown-item" href="#">Separated link</a></li>#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#                            </li>#}
{##}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                            <li><hr class="dropdown-divider"></li>#}
{#                            <li><a class="dropdown-item" href="#">Separated link</a></li>#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link active" aria-current="page" href="#">Active</a>#}
{#                            </li>#}
{##}
{#                        </ul>#}
{#                    </li>#}
{#                        <li class="d-flex nav-item ">#}
{#                            <div class="d-flex ms-auto catalogue_cart.html">#}
{#                            <form method="get" action="{% url 'catalogue' %}" class="d-flex me-auto">#}
{#                                <input name="q" class="form-control me-2" type="search" placeholder="Search by Title or Author" aria-label="Search">#}
{#                                <button class="btn btn-sm btn-outline-secondary " type="submit">Search by Title or Author</button>#}
{#                            </form>#}
{#                                </div>#}
{#                        </li>#}
{##}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
</div>


<!-- Main Part of the Page -->

  <div class="container mx-6 mx-auto justify-content-center bg-light rounded-3 text-dark" >
<div class="container my-1 mx-auto" >

<div class="p-4 mb-9  ">
{% block page_content %}
    {% endblock %}
</div>
</div>
  </div>
<!-- End of Main part of the page -->




<!-- Page Footer -->
<footer class="fixed-bottom card-footer ms-auto ">
    <div class="ms-auto">@ Parpora 2022 </div>
</footer>
<!-- End Page Footer -->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>


<!-- NavBar original menu
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
NavBar original menu -->
